.container {
   margin: 0 auto;
   max-width: 960px;
}

h1 {
  margin-top: 40px;
}

.listing {
  background-color: rgba(240, 234, 237, 0.75);
  border: 1px solid rgb(228, 231, 216);
  padding: 10px 25px;
}

.thumb {
  max-width: 200px;
  border-radius: 80%;
}


.banner {
  max-width: 65vw;
}

.banner_image {
  text-align: center;
  vertical-align: middle;
}

.logo {
  max-width: 200px;
}


.fun {
  position: fixed;
  left: 75%;
  display: none;
}

.featured_container {
  text-align: center;
  vertical-align: middle;
}

.featured {
  max-width: 55vw;
}

.field_with_errors {
  display: inline-block;
}

.field_with_errors label {
  color: red;
}

.field_with_errors input {
  border-color: orange;
}
